// Navigation code here
.nav-container {
    .center(center, center);
    flex-flow: column wrap;
    //to make nav sticky
    position: sticky;
    top: 0;
    animation-name: color-shift;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

    h1 {
        font-size: @title-size;
        padding: 10px;
    }

    nav {

        display: flex;
        justify-content: space-evenly;
        max-width: 100%;

        a {
            font-size: 1.9rem;
            margin: 10px;
            text-decoration: none;
            color: @ebony-clay;
        }
    }

    @media @phone {
        background: @wild-sand;
    }
}