// Navigation code here
.nav-container{
    .center(center, center);
    flex-flow: column wrap;

    h1{
        font-size: @title-size;
        padding: 10px;
    }
    nav{
        
        display: flex;
        justify-content: space-evenly;
        max-width: 100%;

        a{
            font-size: 1.9rem;
            margin: 10px;
            text-decoration: none;
            color: @ebony-clay;
        }
    }
    @media @phone {
        background: @wild-sand;
    }
}